{% extends 'base.html.twig' %}

{% block title %}Hello CreateVisiteController!{% endblock %}

{% block body %}
    <div>
        <h1> La visite n°{{ uneVisite.id }} a été crée</h1>
    </div>



{% endblock %}